
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/public/uploads/

/var/
/vendor/
/.idea
/.composer
/public/uploads
###< symfony/framework-bundle ###
